# Virtual Environment
venv/
# Environment Variables
.env
# Python
__pycache__/
*.pyc
# Streamlit
.streamlit/secrets.toml
# VS Code
.vscode/
# OS Files
.DS_Store
Thumbs.db
test_ats.py
Test_Resume.pdf
unrecognized_skills.log
